mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.mat-card {
  max-width: 96%;
  margin: 1em auto;
  text-align: center;
}

.full-width {
  width: 100%;
  box-align: center;
}

