<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary">Lista de alunos</mat-toolbar>

    <div *ngIf="alunos$ | async as alunos; else carregamento">
      <table mat-table [dataSource]="alunos" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Id Column -->
        <ng-container matColumnDef="numeroIncricao">
          <th mat-header-cell *matHeaderCellDef>Matrícula</th>
          <td mat-cell *matCellDef="let aluno">{{ aluno.numeroIncricao }}</td>
        </ng-container>

        <!-- Nome Column -->
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let aluno">{{ aluno.nome }}</td>
        </ng-container>

        <!-- contato Column -->
        <ng-container matColumnDef="contato">
          <th mat-header-cell *matHeaderCellDef>nº de celular</th>
          <td mat-cell *matCellDef="let aluno">{{ aluno.contato }}</td>
        </ng-container>

        <!-- rg Column -->
        <ng-container matColumnDef="rg">
          <th mat-header-cell *matHeaderCellDef>RG</th>
          <td mat-cell *matCellDef="let aluno">{{ aluno.rg }}</td>
        </ng-container>

        <!-- data_nasicmento Column -->
        <ng-container matColumnDef="data_nasicmento">
          <th mat-header-cell *matHeaderCellDef>Data de nascimento</th>
          <td mat-cell *matCellDef="let aluno">{{ aluno.data_nasicmento }}</td>
        </ng-container>

        <!-- endereco Column -->
        <ng-container matColumnDef="endereco">
          <th mat-header-cell *matHeaderCellDef>Cidade</th>
          <td mat-cell *matCellDef="let aluno">{{ aluno.endereco }}</td>
        </ng-container>

        <!-- senha Column
        <ng-container matColumnDef="senha">
          <th mat-header-cell *matHeaderCellDef>Senha</th>
          <td mat-cell *matCellDef="let aluno">{{ aluno.senha }}</td>
        </ng-container>
        -->

        <!-- bolsista Column -->
        <ng-container matColumnDef="bolsista">
          <th mat-header-cell *matHeaderCellDef>Bolsista</th>
          <td mat-cell *matCellDef="let aluno">{{ aluno.bolsista }}</td>
        </ng-container>

        <!-- genero Column -->
        <ng-container matColumnDef="genero">
          <th mat-header-cell *matHeaderCellDef>Gênero</th>
          <td mat-cell *matCellDef="let aluno">{{ aluno.genero }}</td>
        </ng-container>

        <!-- estadoCivil Column -->
        <ng-container matColumnDef="estadoCivil">
          <th mat-header-cell *matHeaderCellDef>Estado Civil</th>
          <td mat-cell *matCellDef="let aluno">{{ aluno.estadoCivil }}</td>
        </ng-container>

        <!-- raca Column -->
        <ng-container matColumnDef="raca">
          <th mat-header-cell *matHeaderCellDef>Raça</th>
          <td mat-cell *matCellDef="let aluno">{{ aluno.raca }}</td>
        </ng-container>

        <!-- Ações Column-->
        <ng-container matColumnDef="acoes">
          <mat-header-cell *matHeaderCellDef>
            <button (click) = "onAdd()" mat-icon-button color="accent" aria-label="Matricular aluno.">
              <mat-icon>add</mat-icon>
            </button>
          </mat-header-cell>
          <mat-cell *matCellDef="let aluno">
            <button mat-icon-button color="primary" aria-label="Editar aluno."
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="primary" aria-label="Remover aluno."
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <ng-template #carregamento>
      <div class="carregamento-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
